include ../../bundle.pug

include ../../Blocks/numenu-item/numenu-item.pug
include ../../Blocks/numero-section/numero-section.pug

mixin numero-content-title(section, part, link)
  +title(`${section} <span style="color: #FE9081">${part}</span>`)(id=link).numero-content-title&attributes(attributes)

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Нумерология | Шпаргалка для лучшей жизни
    +favicon()
  body
    +header()
    +scroll-top-button()
    +devicer().rel.page__content

      .numero-menu
        +title('Нумерология').title_numerology
        +diashad(30, 9).diashad_only-mobile
        +diashad(40, 12, true).diashad_only-mobile
        .numero-menu__content
          .numero-submenu.col.aic
            .numero-subtitle.numenu-item__trigger.cup(data-target='consult-conversation') Консультации
            +numenu-item('Общение', 'human', 'consult-conversation')
            +numenu-item('Описательные', 'pencil', 'consult-written')
          .numero-submenu.col.aic
            .numero-subtitle.numenu-item__trigger.cup(data-target='study') Обучение
            +numenu-item('Живое', 'chair', 'study-live')
            +numenu-item('Онлайн', 'globe', 'study-online')
      +diashad(50, -9)
      +diashad(30, -4, true)

      <?php $_numero = fp('pages/numerology')->walker; ?>

      +numero-content-title('Консультации', 'Общение', 'consult-conversation')
      <?php $product = $_numero->consult_talk('item'); ?>
      +numero-section()
      +diashad(30, -1, true)
      +diashad(40, 8)
      
      +numero-content-title('Консультации', 'Описательные', 'consult-written')
      <?php $product = $_numero->consult_write('item'); ?>
      +numero-section()
      +diashad(40, 3, true)
      
      +numero-content-title('Обучение', '', 'study')
      <?php $_numero->teach ?>
      video(
        width='100%'
        controls='controls'
        src!="<?= $_numero->teach_video ?>")
        
      +diashad(50, 16)
      +diashad(30, 24, true)
      +numero-content-title('Обучение', 'Живое', 'study-live')
      <?php $product = $_numero->teach_real('item'); ?>
      +numero-section()

      +numero-content-title('Обучение', 'Онлайн', 'study-online')
      <?php $product = $_numero->teach_online('item'); ?>
      +numero-section()
      +diashad(30, -10)
      +diashad(40, -3, true)

    +footer()