mixin contacts__card(href, text, icon)
   a(href!=href).contacts__card.col.aic&attributes(attributes)
      img(src=`../Attach/Images/${icon}`).mbo25
      span!= text

mixin contacts__card_extra(text, href, icon, iconPos)
   a.contacts__card.contacts__card_extra.col(
      class=(iconPos == 'right' ? 'aife' : 'aifs')
      href!=href
   )&attributes(attributes)
      div.contacts__card-extra-imgs.row.jcc.aic.mbo25.rel
         img(src=`../Attach/Images/${icon}`)
         img(src=`../Attach/Images/${icon}`, data-i="1").contacts__card-img-copy.abs
         img(src=`../Attach/Images/${icon}`, data-i="2").contacts__card-img-copy.abs
         img(src=`../Attach/Images/${icon}`, data-i="3").contacts__card-img-copy.abs
         img(src=`../Attach/Images/${icon}`, data-i="4").contacts__card-img-copy.abs
      span!= text

mixin contacts()
   .contacts&attributes(attributes)
      :php
         function pretty_phone($phone) {
            $str_parts = str_split($phone);
            array_unshift($str_parts, '+');
            array_splice($str_parts, 2, 0, ' (');
            array_splice($str_parts, 6, 0, ') ');
            array_splice($str_parts, 10, 0, '-');
            array_splice($str_parts, 13, 0, '-');
            return implode('', $str_parts);
         }
      +title('Контакты').mb2
      .row.jcc.mb1
         <?php $contacts = $db->at_path('pages/main/contacts'); ?>
         +contacts__card(
            "<?= $contacts->at_path('facebook/link')->value ?>", 
            "<?= $contacts->at_path('facebook/title')->value ?>", 
            'contacts_facebook.png'
         )
         +contacts__card(
            "<?= $contacts->at_path('inst/link')->value ?>", 
            "<?= $contacts->at_path('inst/title')->value ?>", 
            'contacts_instagram.png'
         )#contact_instagram
         +contacts__card(
            "<?= $contacts->at_path('skype/link')->value ?>", 
            "<?= $contacts->at_path('skype/title')->value ?>", 
            'contacts_skype.png'
         )
      .row.jcc
         +contacts__card_extra(
            "<?= pretty_phone($contacts->at_path('phone')->value) ?>", 
            "tel:<?= $contacts->at_path('phone')->value ?>", 
            'contacts_phone-call.svg', 
            "right"
         )#contact_phone
         +contacts__card_extra(
            "<?= $contacts->at_path('email')->value ?>", 
            "mailto:<?= $contacts->at_path('email')->value ?>", 
            'contacts_email.svg', 
            "left"
         )