mixin contacts__card(text, link, icon)
   a(href=link target='_blank').contacts__card.col.aic&attributes(attributes)
      img(src=`../Attach/Images/${icon}`).mbo25
      span= text

mixin contacts__card_extra(text, link, icon, iconPos)
   a.contacts__card.contacts__card_extra.col(
      class=(iconPos == 'right' ? 'aife' : 'aifs')
      href=link
   )&attributes(attributes)
      div.contacts__card-extra-imgs.row.jcc.aic.mbo25.rel
         img(src=`../Attach/Images/${icon}`)
         img(src=`../Attach/Images/${icon}`, data-i="1").contacts__card-img-copy.abs
         img(src=`../Attach/Images/${icon}`, data-i="2").contacts__card-img-copy.abs
         img(src=`../Attach/Images/${icon}`, data-i="3").contacts__card-img-copy.abs
         img(src=`../Attach/Images/${icon}`, data-i="4").contacts__card-img-copy.abs
      span!= text

mixin contacts()
   .contacts&attributes(attributes)
      +title('Контакты').mb2
      .row.jcc.mb1
         +contacts__card('Facebook', 'https://facebook.com', 'contacts_facebook.png')
         +contacts__card('@inst.account', 'https://instagram.com', 'contacts_instagram.png')#contact_instagram
         +contacts__card('skypelogin', 'https://skype.com', 'contacts_skype.png')
      .row.jcc
         +contacts__card_extra('<span>+7 (978)</span> 000-00-00', 'tel:+79780000000', 'contacts_phone-call.svg', "right")#contact_phone
         +contacts__card_extra('<span>email.email</span>@email.email', 'mailto:email.email@email.email', 'contacts_email.svg', "left")