mixin contacts__card(text, icon)
   .contacts__card.col.aic&attributes(attributes)
      img(src=`./attach/img/${icon}`).mbo25
      span= text

mixin contacts__card_extra(text, icon, iconPos)
   .contacts__card.contacts__card_extra.col(
      class=(iconPos == 'right' ? 'aife' : 'aifs')
   )&attributes(attributes)
      div.contacts__card-extra-imgs.row.jcc.aic.mbo25.rel
         img(src=`./attach/img/${icon}`)
         img(src=`./attach/img/${icon}`, data-i="1").contacts__card-img-copy.abs
         img(src=`./attach/img/${icon}`, data-i="2").contacts__card-img-copy.abs
         img(src=`./attach/img/${icon}`, data-i="3").contacts__card-img-copy.abs
         img(src=`./attach/img/${icon}`, data-i="4").contacts__card-img-copy.abs
      span!= text

mixin contacts()
   .contacts&attributes(attributes)
      +title('Контакты').mb2
      .row.jcc.mb1
         +contacts__card('Facebook', 'contacts_facebook.png')
         +contacts__card('@inst.account', 'contacts_instagram.png')#contact_instagram
         +contacts__card('skypelogin', 'contacts_skype.png')
      .row.jcc
         +contacts__card_extra('<span>+7 (978)</span>000-00-00', 'contacts_phone-call.svg', "right")#contact_phone
         +contacts__card_extra('<span>email.email</span>@email.email', 'contacts_email.svg', "left")