include ../product-shop/product-shop.pug

mixin product-preview(mode = 'normal')
   <?php $price = $product->props->price; ?>
   <?php $page = $product->props->page; ?>
   
   :php
      $action = false;
      if ($product->props->is_enroll->value)
         $action = 'Записаться';
      else if ($product->props->is_buy->value)
         $action = 'Купить';
      else
         $action = '';

   //- mode = normal || button
   .product-preview.col(class=( mode == 'button' ? 'product-preview_button' : '' ))&attributes(attributes)
      - tmp = "<?= $product->at_path('page/image') ?>"
      - tmp3 = "background-position: <?= $page->props->image_pos_x ?>% <?= $page->props->image_pos_y ?>%"
      if mode == 'normal'
         .product-preview__image(style!=`background-image: url('${tmp}'); ${tmp3}`)
      else if mode == 'button'
         <?php $link = ($action ? "../buy/?id={$product->id}" : '#'); ?>
         - tmp2 = "<?= $link ?>"
         a.product-preview__image.col.jcc.ff-ars-b(href!=tmp2, style!=`background-image: linear-gradient(to right, var(--c2), transparent), url('${tmp}'); ${tmp3}`)
            if mode == 'button'
               - tmp = "<?= mb_strtoupper($action) ?>"
               | !{tmp}
               <?php $target_price = $price->props->normal; ?>
               <?php if ($price->props->sale->value) $target_price = $price->props->sale; ?>
               - tmp = "<?= $action ? $target_price : '' ?>"
               div !{tmp}
      <?php if ($action) : ?>
         - tmp = "<?= $product->id ?>"
         a(href!=`../buy/?id=${tmp}`)
            +button('<?= $action ?>').product-preview__button.w100
      <?php endif; ?>
      :php
         $title = $product->props->title;
         if ($product->has_path('datetime'))
            $title = "$title ({$product->props->datetime})";
      - tmp = "<?= $title ?>"
      .product-preview__title !{tmp}
      .product-preview__tags
         <?php $tags = $product->props->tags->get_children(); ?>
         <?php foreach ($tags as $tag) : ?>
            <?php if ($tag->type->name == 'space') continue; ?>
            - tmp = "<?= '../shop/?theme=' . $tag ?>"
            - tmp1 = "<?= $tag ?>"
            a(href!=tmp).product-preview__tag.product-shop__tag.dib.tdn.cup !{tmp1} 
            |  
         <?php endforeach; ?>
      - tmp = "<?= $product->props->type ?>"
      .product-preview__type
         | !{tmp}
      div
         <?php if ($price->props->sale->value) : ?>
            - tmp = "<?= $product->at_path('price/sale') ?>"
            .product-preview__price.product-preview__price-sale !{tmp}
            - tmp = "<?= $product->at_path('price/normal') ?>"
            .product-preview__price.product-preview__price-before !{tmp}
         <?php else : ?>
            - tmp = "<?= $product->at_path('price/normal') ?>"
            .product-preview__price.product-preview__price-normal !{tmp}
         <?php endif; ?>
      